


   
    <div class="links">
    <a href="/terms" class="link">terms and conditions</a>
    <a href="/privacy-policy" class="link">privacy policy</a>
    <a href="mailto:contact@youphonica.com?subject=Mail from our Website" class="footer link">Contact Us</a>
    </div>

    <div class="bottom">
    &copy; 2023 Youphonica LTD. All rights reserved.   
  </div> 


  <style>
    .links{
    display: inline-flex;
    align-items: center;
    justify-content: center ;
    flex-direction: column;
    color: #1ca78b;
    text-decoration: none;
    background-color: #e8e8e8;
    height: auto;
    width: 99vw;
    padding: 0;
    margin-top: auto;
}

.bottom{
    display: inline-flex;
    align-items: center;
    justify-content: center ;
    flex-direction: column;
    color: #1ca78b;
    text-decoration: none;
    background-color: #3c3c3c;
    height: 7vh;
    width: 99vw;
    margin-bottom: 0;
    padding: 0;
}

  </style>
  