<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"  href="\css\landing.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Coming soon</title>
</head>
<body>

<style>
    body{
        background-color: #3c3c3c;
    }

    h2{
        margin-top: 25vh;
    }
</style>






<!-- 

    
    <div class="header-si header-bg logo">
            <svg class="logo text-center" xmlns="http://www.w3.org/2000/svg" width="300px" height="150px" viewBox="0 0 2000 2000">
              <defs>
                <style>
                  .cls-1 {
                    font-size: 500px;
                    fill: #1ca78a;
                    font-family: Bahnschrift;
                  }
            
                  .cls-2 {
                    fill: #fe0000;
                  }
                </style>
              </defs>
              <text id="youphonica_" data-name="youphonica  " class="cls-1" x="389.806" y="778.145">youphonica</text>
              <circle class="cls-2" cx="2333.685" cy="439.687" r="50.125"/>
            </svg>
    </div> -->
    


<div class="container text-center">
    <h2>coming soon!</h2>
</div>




</body>
</html>