<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"  href="\css\index.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Privacy Policy</title>
    <script src="\js\dropdown.js" defer></script>
    <link rel="icon" type="image/png"  href="\media\32 x 32 icon.png">
</head>
<body>
    
  <%- include('partials/header')%>  



<div id="conatiner-new terms-content" > 

    <div class="terms-content">

<h2 class="text-center">Privacy Policy</h2>
<br>
<p class="text-center terms-info">Lat Updated: 22nd June, 2023</p>
<br>
<p class="text-center terms-info">This Privacy Policy describes how 
   youphonica LTD ("we," "us," or "our") collects, uses, and discloses
     personal information when you use Youphonica.com (the "Website").
      By accessing or using the Website, you agree to the terms of this
       Privacy Policy</p>
<br>

<h2 class="text-center">1. Information We Collect</h2>
<br>
<p class="text-center terms-info"><b>1.1</b> 
    Personal Information: We may collect personal 
    information that you provide directly to us when 
    you create an account, make a purchase, upload content, 
    or communicate with us. This may include your name, email address, 
    billing information, and any other information you choose to provide.</p>

<br>

<p class="text-center terms-info"><b>1.2</b> 
    Usage Information: We automatically collect certain information
    about your use of the Website, such as your IP address,
    browser type, operating system, referring URL, and pages visited.
    We may also collect information about your interactions with our
    content, including videos watched, content uploaded, and user
    preferences.</p>

<br>

<p class="text-center terms-info"><b>1.3</b> 
    Cookies and Similar Technologies: We use cookies and similar 
    technologies to collect information and enhance your user experience. 
    You can control the use of cookies through your browser settings.
 you can view our cookie policy here: <a href="/cookie-policy">cookie policy</a></p>

<br>

<h2 class="text-center">2. How We Use Your Information</h2>
<br>
<p class="text-center terms-info"><b>2.1</b> 
    Provide and Improve the Website: We use the information 
    we collect to provide and improve the Website, personalize 
    your experience, analyse usage patterns, and optimize our services.</p>

<br>


<p class="text-center terms-info"><b>2.2</b> 
    Communication: We may use your contact information to send you updates,
    notifications, and promotional communications about our services. 
    You can opt out of receiving marketing communications at any time.</p>

<br>



<p class="text-center terms-info"><b>2.3</b> 
    User-Generated Content: If you upload content to the Website, 
    we may display your username and content publicly. 
    Please be mindful of the information you share.
    </p>

<br>


<p class="text-center terms-info"><b>2.4</b> 
    Legal Compliance: We may use and disclose your 
    information as required by law, regulation, or legal process,
    or to protect our rights, property, or the safety of our users.
    </p>
<br>





<h2 class="text-center">3. Information Sharing</h2>
<br>
<p class="text-center terms-info"><b>3.1</b> 
    Service Providers: We may share your information with 
    third-party service providers who assist us in operating 
    the Website, processing payments, hosting, data analysis,
    and other related services.</p>

<br>


<p class="text-center terms-info"><b>3.2</b> 
    Aggregated or Anonymized Data: We may aggregate and anonymize 
    information for statistical and analytical purposes. 
    This data does not identify individuals and may be shared with 
    third parties.</p>

<br>



<p class="text-center terms-info"><b>3.3</b>
    Business Transfers: In the event of a merger, 
    acquisition, or sale of all or a portion of our assets, 
    your information may be transferred as part of the transaction. 
    We will notify you via email or prominent notice on the Website 
    if your information becomes subject to a different privacy policy. 
    </p>

<br>




<h2 class="text-center">4. Data Security</h2>
<br>
<p class="text-center terms-info"><b>4.1</b> 
    We implement reasonable security measures to protect the 
    confidentiality and integrity of your information. 
    However, no method of transmission or storage is 
    completely secure. We cannot guarantee the absolute
    security of your information.</p>

<br>






<h2 class="text-center">5. Third-Party Links and Services</h2>
<br>
<p class="text-center terms-info"><b>5.1</b> 
    The Website may contain links to third-party websites 
    or services that are not owned or controlled by us. 
    This Privacy Policy does not apply to third-party 
    websites or services. We are not responsible for their 
    practices or content. We encourage you to review the privacy
    policies of these third parties.</p>

<br>






<h2 class="text-center">6. Children's Privacy</h2>
<br>
<p class="text-center terms-info"><b>6.1</b> 
The Website is not intended for children under the age of 18. 
We do not knowingly collect personal information from children. 
If you believe we have inadvertently collected information from
a child, please contact us, and we will promptly delete it.</p>

<br>







<h2 class="text-center">7. Your Rights</h2>
<br>
<p class="text-center terms-info"><b>7.1</b> 
You have the right to access, correct, or delete your personal information.
You may also have additional rights, such as the right 
to restrict or object to certain processing activities. 
To exercise your rights, please contact us using the 
information provided below.</p>



<br>
<p class="text-center terms-info">

Email: contact@youphonica.com
</p>

<h2 class="text-center">8. Changes to this Privacy Policy</h2>
<br>
<p class="text-center terms-info"><b>8.1</b> 
We may update this Privacy Policy from time to time. 
The revised policy will be effective when posted on the Website. 
We encourage you to review this page periodically for 
the most current information.</p>

<br>



<h2 class="text-center">9. Contact Us</h2>
<br>
<p class="text-center terms-info"><b>8.1</b> 
If you have any questions, concerns, or requests 
regarding this Privacy Policy or our privacy practices,
please contact us at: contact@youphonica.com</p>

<br>

<% if(cookies == null || undefined) {%> 
    <div class="cookie-pop-up">
      
     <p>Youphonica uses cookies to make certain aspcets of the site work. <a href="">learn more</a></p> 
        <br>
        <div class="cookie-buttons">
          <form action="/cookies-refuse" method="post">
        <button type="submit" class="cookie-btn reject">reject non-essential
        </button>
      </form>
  
      <form action="/cookies-accept" method="post">
      <button type="submit" class="cookie-btn accept">accept all</button>
    </form>
      </div>
  </div>
<% }else{ %>
  <% } %> 
    </div>


    

</div>

    <div class="mt-auto footer">
        <%- include('partials/footer')%>   
</div>



</body>
</html>




<style>

div#container-new{
    display: flex;
    align-items: center;
    text-align: center;
}




p.terms-info{
    width: 50%;
    text-align: center;
    margin: auto;
}
</style>