<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>email</title>
</head>
<body>
    <img src="https://test-bucket-nodejs.s3.eu-west-1.amazonaws.com/artist-thumbs/1654173451705/1654173451705-1645019509257-nainoa-shizuru-NcdG9mK3PBY-unsplash.jpg" alt="" style="width: 10%; height: 10%; margin-left: 46%;">
      <div class="center" style="text-align: center;">
      <h2 style="margin-top: 2em; background-color: #1ca78b; color: #3c3d3c; border: 2px solid #3c3d3c; text-decoration: #3c3d3c;">thank you for your purchase of ejs "concert name"</h2>

      <button style="width: max-content; margin-top: 2em; background-color: #1ca78b; color: #3c3d3c; border: 2px solid #3c3d3c; transform: scale(1.5); border-radius: 2em; text-decoration: #3c3d3c;">
        view your purchase here
    </button>
    </div>
</body>
</html>